# Credenciais de acesso ao banco
DB_HOST=localhost
DB_USER=root
DB_NAME=acadhub
DB_PASS=

# Porta de conexão
PORT=5000

# Chave secreta criptografada para a sessão
SESSION_SECRET=keyboardcat
OPENAI_API_KEY=chaveopenai

# Dados para cadastro do usuario admin
ADMIN_EMAIL=admin@admin.com
ADMIN_PASSWORD=admin
ADMIN_NAME=Administrador